* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
}
.country-maps img{
    width: 100px;
    height: 60px;
}
/*search*/
.country-list{
  padding: 0 1rem;
  position: absolute;
  background: white;
  z-index: 100;
  max-height: 150px;
  overflow: hidden;
  overflow-y: scroll;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 350px;
}

/*search*/
/*footer*/
footer {
  background-color: #343434;
  color:white;
  text-align: center;
  padding: 20px;
}
footer span{
  display: block;
}
/*end footer*/

/*spinner*/
.loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgba(227, 227, 227, 0.7);
}
.loader>*{
    margin-top: 20vh;   
}
.spinner {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.spinner::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
/*end spinner*/